<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <!--<script src="script.js"></script>-->
</head>
<body>
<div>
    <a href="/"><img class="logo_img" src="/quiz.svg" alt="Quiz logo"></a>
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
<footer>
    <div>a game by <a href="https://hurl.dev">Hurl&RightArrowLeftArrow; Team</a></div>
</footer>
</body>
</html>
