{% extends "base" %}

{% block content %}

<h1>Create a new Quiz</h1>

<form action="/new-quiz" method="POST">

    <section>
        <div>
            <label for="username">Author name: <abbr title="required" aria-label="required">*</abbr></label>
            <input id="username" type="text" name="username" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email">
        </div>
    </section>

    <section>
        <fieldset>
            <legend>Questions</legend>
            <ol>
                {% for i in range(0,4) %}
                <li>
                    <label for="question{{i}}"><abbr title="required" aria-label="required">*</abbr></label>
                    <select name="question{{i}}" id="question{{i}}" required>
                        <option value="">--Please choose a question--</option>
                        {% for question in dto.allQuestions %}
                        <option value="{{question.id}}">{{question.title}}</option>
                        {% endfor %}
                    </select>
                </li>
                {% endfor %}
            </ol>
        </fieldset>
    </section>


    <div>
        <button type="submit">Create</button>
        <input type="hidden"
               name="{{ _csrf.parameterName }}"
               value="{{ _csrf.token }}"/>
    </div>

</form>


{% endblock %}