{% extends "base" %}

{% block content %}

<h1>Create a new Quiz</h1>

<form action="/new-quiz" method="POST">

    <section>
        <div>
            <label class="{{dto.name.valid ? '' : 'invalid'}}" for="name">Author name: <abbr title="required" aria-label="required">*</abbr></label>
            <input id="name" type="text" name="name" minlength="4" maxlength="32" value="{{dto.name.value}}" required>
        </div>
        <div>
            <label class="{{dto.email.valid ? '' : 'invalid'}}" for="email">Email:</label>
            <input id="email" type="email" name="email" value="{{dto.email.value}}">
        </div>
    </section>

    <section>
        <fieldset>
            <legend>Questions</legend>
            <ol>
                {% for i in range(0,4) %}
                <li>
                    <label class="{{dto.questions[i].valid ? '' : 'invalid'}}" for="question{{i}}"><abbr title="required" aria-label="required">*</abbr></label>
                    <select name="question{{i}}" id="question{{i}}" required>
                        <option value="">--Please choose a question--</option>
                        {% for choice in dto.questions[i].choices %}
                            {% if dto.questions[i].value == choice.value %}
                            <option selected value="{{choice.value}}">{{choice.text}}</option>
                            {% else %}
                            <option value="{{choice.value}}">{{choice.text}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </li>
                {% endfor %}
            </ol>
        </fieldset>
    </section>


    <div>
        <button type="submit">Create</button>
        <input type="hidden"
               name="{{ _csrf.parameterName }}"
               value="{{ _csrf.token }}"/>
    </div>

</form>


{% endblock %}